<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 配置静态资源 -->
	<mvc:default-servlet-handler />
	<mvc:resources mapping="/css/**" location="/css/"
		cache-period="604800" />
	<mvc:resources mapping="/js/**" location="/js/"
		cache-period="604800" />
	<mvc:resources mapping="/img/**" location="/img/"
		cache-period="604800" />
	<mvc:resources mapping="/user/**" location="/user/"
				   cache-period="604800" />

	<context:component-scan base-package="com.mycom.controller" />
	
	<bean class="com.mycom.exception.ExceptionController"/>
	
	<mvc:interceptors>  
        <bean class="com.mycom.intercepter.LoginIntercepter" />  
    </mvc:interceptors>
	
	<!-- 使用 mvc:annotation-driven加载注解映射器和注解适配器配置-->
	<mvc:annotation-driven >
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	

	<!-- 视图解析器
	解析jsp解析，默认使用jstl标签，classpath下的得有jstl的包
	 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 配置jsp路径的前缀 -->
		<property name="prefix" value="/jsp/"/>
		<!-- 配置jsp路径的后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>
</beans>